html {
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
}

.logo {
    display: flex;
    font-size: 3rem;
    padding: 20px;
}

.layout__header {
    max-width: 1200px;
    width: 100%;
}

.nav__list {
    display: flex;
    gap: 2rem;
    font-weight: bold;
    margin: 20px;
}

.nav__list li {
    list-style: none;
}

main {
    background-image: url('../images/sneaker.jpg');
    background-position: center;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 50px;
}

.main__container {
    max-width: 900px;
    padding: 50px;
}

.main__heading {
    font-size: 3rem;
    margin: 20px auto;
}

.main__info {
    max-width: 600px;
    margin: 0 auto 20px;
    line-height: 1.5;
}

.button {
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    margin: auto;
    padding: 20px;
    border: none;
}

.button:hover {
    background-color: rgb(239, 219, 219);
}

.nav__toggle {
    display: none;
}

@media screen and (max-width: 768px) {
    .layout__header {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav__list {
        display: none;
        flex-direction: column;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: white;
        padding: 10px;
        margin-top: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .nav__toggle {
        display: block;
        background: none;
        border: none;
        cursor: pointer;
        color: black;
        font-size: 20px;
    }

    .toggle-icon::before {
        content: "\2630";
        cursor: pointer;
    }

    .nav__list.active {
        display: flex;
    }

    .nav__list li {
        margin-bottom: 10px;
    }

    .main__heading {
        margin: auto;
    }

    .main__info {
        font-size: 15px;
        margin: auto;
    }

    main {
        padding: 20px;
    }
}
